controller:
  service:
    enabled: true
    externalIPs:
{% for item in groups['k8s_workers'] %}
      - {{ hostvars[item].ansible_default_ipv4.address }}
{% endfor %}
  nodeSelector:
    node-role.kubernetes.io/edge: ''
  tolerations:
      - key: node-role.kubernetes.io/master
        operator: Exists
        effect: NoSchedule
  metrics:
    enabled: true
defaultBackend:
  nodeSelector:
    node-role.kubernetes.io/edge: ''
  tolerations:
      - key: node-role.kubernetes.io/master
        operator: Exists
        effect: NoSchedule

