{
  "exec-opts": [
    "native.cgroupdriver=systemd"
  ],
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "100m",
    "max-file": "3"
  },
{% if docker_registry_insecure|bool %}
  "insecure-registries": [
    "{{ docker_registry }}:{{ docker_registry_port }}"
  ],
{% endif %}
  "storage-driver": "overlay2",
  "storage-opts": [
    "overlay2.override_kernel_check=true"
  ],
  "live-restore": true
}