---
docker_requered_packages:
  - yum-utils
  - device-mapper-persistent-data
  - lvm2

docker_packages:
  - containerd.io-1.2.13
  - docker-ce-19.03.11
  - docker-ce-cli-19.03.11
  - python-docker-py

kernel_parametes: {
  "net.bridge.bridge-nf-call-ip6tables": 1,
  "net.bridge.bridge-nf-call-iptables": 1,
  "net.ipv4.ip_forward": 1,
  "net.ipv4.tcp_tw_recycle": 0,
  "vm.overcommit_memory": 1,
  "vm.panic_on_oom": 0,
  "fs.inotify.max_user_watches": 89100,
  "fs.file-max": 52706963,
  "fs.nr_open": 52706963
}

