apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: v{{kubernetes_version}}
networking:
  podSubnet: {{ pod_network_cidr }}
etcd:
  local:
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
controlPlaneEndpoint: "{{ vip_apiserver }}:5443"
{% if docker_registry_k8s_proxy|bool  %}
imageRepository: {{docker_registry| trim}}/kubernetes
{% endif %}

